<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{!-- <link rel="stylesheet" href="../../public/css/style.css"> --}}
    <title>Registration Form</title>
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        flex-direction: column;
    }
    a{
        margin-top: 2rem;
    }
</style>
<body>
    <h1>Welcome to the home page {{username}}</h1>
    <a href="/registration"><h1>Register</h1></a>
</body>
</html>